.me {
  padding-top: 155px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #181818FF, #2b2b2b00), url("../../res/background.jpg"), ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__info {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: $dark-color;
    box-shadow: 0px 10px 20px -10px black;
    color: $white-color;
    img {
      background-color: $dark-color;
      margin:-130px auto 10px;
      padding: 10px;
      width: 230px;
      height: 230px;
      border-radius: 100%;
      border: 15px solid $primary-color;
      animation-name: growing;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    div:nth-child(2) {
      margin: 0 10px 10px 10px;
    }
    h1 {
      text-transform: uppercase;
    }
    p {
      margin-top: 10px;
    }
  }
}

@keyframes growing {
  0% {
    border: 15px solid $primary-color;
    transform: scale(1);
  }
  50% {
    border: 15px solid transparent;
    transform: scale(0.9);
  }
  100% {
    border: 15px solid $primary-color;
    transform: scale(1);
  }

}

.me__container {
  margin-top: 150px;
}

.me__social {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 5px;
  a {
    aspect-ratio: 1/1;
    width: 40px;
  }
  svg {
    fill: $white-color;
  }
}

.hidden {
  display: none;
}
