.me {
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 65px 20px;
  background: linear-gradient(to bottom, $dark-color, $dark-light-color);
  &__info {
    position: relative;
    display: grid;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    max-width: 320px;
    text-align: center;
    background-color: $dark-color;
    color: $white-color;
    img {
      margin:-110px auto 30px;
      padding: 15px;
      width: 260px;
      border-radius: 100%;
      border: 15px solid $primary-color;
    }
    div {
      margin: 0 10px 10px 10px;
    }
    h1 {
      text-transform: uppercase;
    }
    p {
      margin-top: 10px;
    }
  }
}

.me__container {
  margin-top: 150px;
}
