.me {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 20px;
  &__info {
    margin: 20px;
    border-radius: 20px;
    display: grid;
    padding: 10px;
    & > div {
      display: flex;
      align-items: center;
    }
    img {
      margin: 0 auto;
      padding: 20px;
      width: 260px;
      border-radius: 100%;
    }
    p {
      margin-top: 10px;
    }
  }
  &__skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    ul {
      margin-top: 10px;
    }
  }
}

@media (min-width:490px) {
  .me {
    margin: 0 auto; 
    grid-template-columns: 2fr 1fr;
    &__skills {
      div {
        padding: 20px;
      }
    }
  }
}

@media (min-width:760px) {
  .me {
    &__info {
    grid-template-columns: 1fr 2fr;
    }
  }
}